*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Menu */

.menu-inicial{
  display: flex;
  align-items: center;
  font-size: 30px;
  
}



header{
    background-color: firebrick;
    display: flex;
    justify-content:space-between ;
    height: 70px;
    padding: 0 20xp;
    grid-column: 4/1;
    align-items: center;
}

form{
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    
    color: rgb(253, 251, 251);
     
}

/*Meio*/


div{

    display: grid;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px darkred;
    text-align: center;   
}
h4{
    font-size: 150%;
}

video{
    width: 100%;
    display: grid;
    
}
main{
   column-gap: 20px;
   row-gap:unset ;
   display: grid;
   gap: 16px;    
   grid-template-rows: 2fr 2fr 1fr;
   grid-template-columns: repeat(4,1fr);
   row-gap: 20px;
   column-gap: 10px;
   margin: 60px;
   
}



/* Final*/


footer{
    display: flex;
    justify-content: center;
    background-color:firebrick;
    height: 80px;
    font-size: 30px;
}

@media screen and (max-device-width: 500px){
    .menu-inicial{
     display: flex;
     flex-direction: column;
    }
    .conteiner-video{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
       text-align: center;
    }
    header{
        display: flex;
        font-size: 20px;
    }
}